{
    "plugins": [
      [
        "module-resolver",
        {
          "cwd": "babelrc",
          "root": ["."],
          "extensions": [".js", ".ios.js", ".android.js"]
        }
      ]
    ]
  }